<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% include 'header.html' %}

<body>
    <h2>회원가입</h2>
    <form action="api/v1/users/" method="POST">
        {% csrf_token %}
        <input type="text" id="username" name="username" placeholder="아이디">
        <input type="password" id="password" name="password" placeholder="비밀번호">
        <input type="text" id="email" name="email" placeholder="이메일">
        <input type="text" id="last_name" name="last_name" placeholder="성">
        <input type="text" id="first_name" name="first_name" placeholder="이름">
        <input type="submit" value="저장">
    </form>
    {% include 'footer.html' %}

</body>
</html>